/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

#board{
  margin: auto;
  width: 701px;
  height: 401px;
}

.scoreboard{
  width: 701px;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;

}

h1{
  font-size: 80px;
  font-weight: bold;
  line-height: 0.2;
  letter-spacing: -4px;
}

h3{
  font-size: 30px;
  color: grey;
  margin-top: -20px;
  letter-spacing: -1.5px;
  font-weight: normal;
}

.top-section {
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: normal;
}

body {
  font-family: arial, sans-serif;
}

.input-section {
  float: right;
}

.bullet-time {
  background: lightgreen;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 auto;
}